test_cases/workflows/n8n_WITH_IF_TEST.json
{
  "name": "Lex - IF Node Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lex-if-test",
        "responseMode": "responseNode"
      },
      "id": "wh1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "lex-if-test"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.test }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if1",
      "name": "IF Test",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"result\":\"true_branch\"}"
      },
      "id": "r1",
      "name": "Respond True",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"result\":\"false_branch\"}"
      },
      "id": "r2",
      "name": "Respond False",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "IF Test", "type": "main", "index": 0}]]
    },
    "IF Test": {
      "main": [
        [{"node": "Respond True", "type": "main", "index": 0}],
        [{"node": "Respond False", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
