archive/workflows/n8n_workflow_v5.0_minimal.json
{
  "name": "Lex Intelligentia v5.0 - Minimal",
  "nodes": [
    {
      "parameters": {
        "content": "# LEX v5.0 MINIMAL\n\n**Fluxo:**\n```\nInput → Router → Agent → Output\n```\n\n**Capacidade:** 1-3 docs/request\n\n**Credenciais necessárias:**\n- Gemini API Key\n- Anthropic API",
        "height": 200,
        "width": 250
      },
      "id": "info",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [100, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lex-minimal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [400, 300],
      "webhookId": "lex-v5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  contents: [{ parts: [{ text: `Classifique: ${($json.body?.fatos || $json.fatos || '').substring(0, 500)}\n\nÁreas: BANCARIO, CONSUMIDOR, EXECUCAO, LOCACAO, SAUDE, GENERICO\n\nJSON: {\"area\": \"X\", \"confianca\": 0.9}` }] }],\n  generationConfig: { temperature: 0.1, maxOutputTokens: 100, responseMimeType: \"application/json\" }\n} }}",
        "options": { "timeout": 10000 }
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "GEMINI_ID", "name": "Gemini API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('Input').item.json;\nconst routerRaw = $('Router').item.json;\n\nlet area = 'GENERICO';\ntry {\n  const text = routerRaw.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n  area = JSON.parse(text.replace(/```json\\n?|```/g, '')).area || 'GENERICO';\n} catch (e) { }\n\nconst firac = webhook.body || webhook;\nreturn [{ json: { area, firac } }];"
      },
      "id": "prep",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            { "value": "BANCARIO", "outputKey": "Bancário" },
            { "value": "CONSUMIDOR", "outputKey": "Consumidor" },
            { "value": "EXECUCAO", "outputKey": "Execução" },
            { "value": "LOCACAO", "outputKey": "Locação" },
            { "value": "SAUDE", "outputKey": "Saúde" },
            { "value": "GENERICO", "outputKey": "Genérico" }
          ],
          "fallbackOutput": { "mode": "extra" }
        },
        "dataPropertyName": "={{ $json.area }}"
      },
      "id": "switch",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ `Fatos: ${$json.firac.fatos || ''}\nQuestões: ${$json.firac.questoes || ''}\nPedidos: ${$json.firac.pedidos || ''}\n\nGere MINUTA DE SENTENÇA:\nI - RELATÓRIO\nII - FUNDAMENTAÇÃO\nIII - DISPOSITIVO` }}",
        "options": {
          "systemMessage": "Agente BANCÁRIO. Súmulas 297, 381, 382, 379, 539, 565, 603/STJ. Juros abusivos >1.5x BACEN. Danos: negativação R$5-15k. Use [REVISAR] para incertezas."
        }
      },
      "id": "agent-bancario",
      "name": "Bancário",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1300, 100]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ `Fatos: ${$json.firac.fatos || ''}\nQuestões: ${$json.firac.questoes || ''}\nPedidos: ${$json.firac.pedidos || ''}\n\nGere MINUTA DE SENTENÇA:\nI - RELATÓRIO\nII - FUNDAMENTAÇÃO\nIII - DISPOSITIVO` }}",
        "options": {
          "systemMessage": "Agente CONSUMIDOR. CDC art. 14 resp. objetiva. Súmulas 385, 388, 479, 469/STJ. Dano moral in re ipsa negativação. Parâmetros: R$5-20k. Use [REVISAR] para incertezas."
        }
      },
      "id": "agent-consumidor",
      "name": "Consumidor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ `Fatos: ${$json.firac.fatos || ''}\nQuestões: ${$json.firac.questoes || ''}\nPedidos: ${$json.firac.pedidos || ''}\n\nGere MINUTA DE SENTENÇA:\nI - RELATÓRIO\nII - FUNDAMENTAÇÃO\nIII - DISPOSITIVO` }}",
        "options": {
          "systemMessage": "Agente EXECUÇÃO. Arts. 786, 523, 921 CPC. Prescrição: cheque 6m, NP 3a. Multa 10% + honorários 10%. Use [REVISAR] para incertezas."
        }
      },
      "id": "agent-execucao",
      "name": "Execução",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ `Fatos: ${$json.firac.fatos || ''}\nQuestões: ${$json.firac.questoes || ''}\nPedidos: ${$json.firac.pedidos || ''}\n\nGere MINUTA DE SENTENÇA:\nI - RELATÓRIO\nII - FUNDAMENTAÇÃO\nIII - DISPOSITIVO` }}",
        "options": {
          "systemMessage": "Agente LOCAÇÃO. Lei 8.245/91. Despejo: purgação até contestação. Denúncia vazia: ≥30 meses. Renovatória: 5 requisitos. Use [REVISAR] para incertezas."
        }
      },
      "id": "agent-locacao",
      "name": "Locação",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ `Fatos: ${$json.firac.fatos || ''}\nQuestões: ${$json.firac.questoes || ''}\nPedidos: ${$json.firac.pedidos || ''}\n\nGere MINUTA DE SENTENÇA:\nI - RELATÓRIO\nII - FUNDAMENTAÇÃO\nIII - DISPOSITIVO` }}",
        "options": {
          "systemMessage": "Agente SAÚDE. Súmulas 302, 469, 597, 608, 609/STJ. Lei 9.656/98. Danos: negativa R$5-10k, oncológico R$20-30k. Use [REVISAR] para incertezas."
        }
      },
      "id": "agent-saude",
      "name": "Saúde",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1300, 500]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ `Fatos: ${$json.firac.fatos || ''}\nQuestões: ${$json.firac.questoes || ''}\nPedidos: ${$json.firac.pedidos || ''}\n\nGere MINUTA DE SENTENÇA:\nI - RELATÓRIO\nII - FUNDAMENTAÇÃO\nIII - DISPOSITIVO` }}",
        "options": {
          "systemMessage": "Agente GENÉRICO. Use base legal expressa. ABUNDANTE uso de [REVISAR]. Output conservador. Honorários 10-20%."
        }
      },
      "id": "agent-generico",
      "name": "Genérico",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1300, 600]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": { "maxTokensToSample": 4096, "temperature": 0.3 }
      },
      "id": "llm",
      "name": "Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1500, 350],
      "credentials": {
        "anthropicApi": { "id": "ANTHROPIC_ID", "name": "Anthropic API" }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1540, 350]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst minuta = input.output || input.text || '';\nconst area = $('Prepare').item.json.area;\n\nreturn [{ json: {\n  success: true,\n  area: area,\n  minuta: minuta,\n  palavras: minuta.split(/\\s+/).length\n}}];"
      },
      "id": "output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1980, 350]
    }
  ],
  "connections": {
    "Input": {
      "main": [[{ "node": "Router", "type": "main", "index": 0 }]]
    },
    "Router": {
      "main": [[{ "node": "Prepare", "type": "main", "index": 0 }]]
    },
    "Prepare": {
      "main": [[{ "node": "Switch", "type": "main", "index": 0 }]]
    },
    "Switch": {
      "main": [
        [{ "node": "Bancário", "type": "main", "index": 0 }],
        [{ "node": "Consumidor", "type": "main", "index": 0 }],
        [{ "node": "Execução", "type": "main", "index": 0 }],
        [{ "node": "Locação", "type": "main", "index": 0 }],
        [{ "node": "Saúde", "type": "main", "index": 0 }],
        [{ "node": "Genérico", "type": "main", "index": 0 }],
        [{ "node": "Genérico", "type": "main", "index": 0 }]
      ]
    },
    "Bancário": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Consumidor": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Execução": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Locação": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Saúde": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Genérico": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Claude": {
      "ai_languageModel": [
        [{ "node": "Bancário", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Consumidor", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Execução", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Locação", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Saúde", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Genérico", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Merge": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] },
    "Format Output": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "minimal" }]
}
